{% extends 'base.html.twig' %}

{% block title %}Vidéo{% endblock %}

{% block body %}

<div class="max-w-7xl mx-auto flex flex-col gap-5 my-8">
    <div class="max-w-7xl mx-auto w-full bg-white h-96">   
        <iframe class="w-full h-full" src="{{ video.url }}?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h1 class="text-white font-bold text-3xl">{{ video.title }}</h1>

    <p class="text-white">
        {{ video.description }}    
    </p>

    <div class="flex flex-col gap-5">
        <span class="text-white font-bold">Dans cette vidéo :</span>
        <div class="grid grid-cols-4 gap-10">
            {% for pet in video.pets %}
                <div class="bg-white rounded-md p-5 relative flex flex-col gap-5">
                    {% if pet.adoptionDate %}
                        <span class="bg-primary rounded-md p-1 text-xs text-white absolute right-2 top-2">Adopté</span>
                    {% endif %}
                    <h2 class="font-bold text-xl">{{ pet.name }}</h2>
                    <ul>
                        <li>{{ pet.type.label }}</li>
                        <li>{{ pet.age }} ans</li>
                        <li>Arrivé(e) le : {{ pet.arrivalDate|date('d/m/Y') }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="flex flex-col gap-5">
        <span class="text-white font-bold">Pour adopter, contactez :</span>
        <span class="text-white">{{ video.member.name }} | <a class="text-primary" href="tel:{{ video.member.phone }}">{{ video.member.phone }}</a> | <a class="text-primary" href="mailto:{{ video.member.email }}">{{ video.member.email }}</a></span>
    </div>
    
</div>

{% endblock %}