{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <img src="{{ asset('images/banner.webp') }}" alt="logo" class="mx-auto max-h-96 w-full object-cover opacity-50" />

    <div class="grid grid-cols-3 text-white max-w-7xl mx-auto gap-20 my-8">
        {% for video in videos %}
            <div class="flex flex-col gap-2">
                <div class="w-full h-44 bg-white relative group">
                    <a href="/{{ video.id }}" target="_blank" class="text-white font-bold bg-primary w-1/3 h-10 rounded-md absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden items-center justify-center group-hover:flex cursor-pointer">
                        Voir la vidéo
                    </a>
                </div>
                <div class="flex items-center justify-between font-bold">
                    <h2>{{ video.title }}</h2>
                    <span>{{ video.addDate|date("d/m/Y") }}</span>
                </div>
                <p class="text-xs">
                    {{ video.description }}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}